<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">
    <targets>
        <target name="logfile" xsi:type="File"
                fileName="logs/${cached:${date:format=yyyy-MM-dd}}.log"
                archiveFileName="{#}.log"
                archiveEvery="Day"
                layout="${longdate} ${message} ${exception:format=tostring}" />
        <target name="logconsole" xsi:type="Console"
                layout="${longdate} (${callsite:className=True:fileName=False:includeSourcePath=False:methodName=True}): ${message} ${exception:format=tostring}" />
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="logconsole" />
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>